.calendar-modal {
  width: 400px;
  height: 450px;
  grid-template-columns: 100%;
  grid-template-rows: 60px auto 60px;
  background-color: white;
  border: 1px solid rgb(153, 169, 182);
  border-radius: 6px;
}

.calendar-modal-header {
  grid-template-columns: 30px max-content auto 20px;
  grid-template-rows: 100%;
  border-bottom: 1px solid rgb(238, 243, 247);
}

.calendar-modal-header span {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  color: rgb(0, 26, 81);
  align-self: center;
  font-size: 0.9rem;
}

.calendar-modal-header i {
  align-self: center;
  justify-self: flex-end;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  font-size: 1.5rem;
  color: rgb(173, 197, 220);
  cursor: pointer;
}

.calendar-modal-body {
  grid-template-columns: 15px auto 15px;
  grid-template-rows: 15px auto 5px;
}

.calendar-date-wrapper {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  border: 1px solid rgb(199, 211, 222);
  box-shadow: 3px 2px 2px rgb(237, 239, 241);
  border-radius: 5px;
  padding: 5px;
  padding: 30px 30px 40px 30px;
}

.calendar-date {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto;
  row-gap: 20px;
}

.calendar-date-header {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, auto);
  row-gap: 20px;
}

.calendar-date-header-months {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: auto max-content max-content;
  grid-template-rows: 100%;
  column-gap: 10px;
  color: rgb(126, 136, 162);
}

.calendar-date-header-months span {
  font-size: 0.9rem;
}

.calendar-date-header-months i {
  font-size: 1.3rem;
  cursor: pointer;
}

.calendar-date-header-days {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(7, max-content);
  grid-template-rows: 100%;
  justify-content: space-between;
  color: rgb(190, 195, 201);
}

.calendar-date-body {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(7, max-content);
  grid-template-rows: repeat(5, auto);
  justify-content: space-between;
  row-gap: 15px;
  color: rgb(144, 151, 172);
  font-size: 0.9rem;
}

.calendar-modal-footer {
  grid-template-columns: 15px auto 10px auto 15px;
  grid-template-rows: 10px auto 10px;
  font-size: 0.8rem;
}

.calendar-modal-footer div {
  grid-row: 2 / span 1;
  border-radius: 5px;
  border: 1px solid rgb(201, 217, 231);
  cursor: pointer;
}

.calendar-btn-remove {
  grid-column: 2 / span 1;
  background-color: white;
  color: rgb(59, 147, 231);
}

.calendar-btn-add {
  grid-column: 4 / span 1;
  background-color: rgb(59, 147, 231);
  color: white;
}
