.activity-header {
  grid-template-columns: 10% 15% 15% 15% 17% 13% 15%;
  grid-template-rows: auto;
}

.activity-row {
  grid-template-columns: 10% 15% 15% 15% 17% 13% 15%;
  grid-auto-rows: 50px;
  position: relative;
}

.activity-row input {
  transform: translateX(300%) scale(1.5, 1.5);
}

.activity-row a {
  text-decoration: none;
  max-width: max-content;
  color: rgb(74, 163, 234);
  transform: translateX(35%);
  cursor: pointer;
}

/* .activity-row a:hover ~ .list-tooltip-wrapper {
  display: grid;
} */

.activity-tooltip-wrapper {
  right: 6.5%;
  top: 90%;
  grid-template-columns: 25px auto 25px;
  grid-template-rows: 10px auto 10px;
}

.activity-tooltip {
  grid-template-columns: 100%;
  grid-auto-rows: min-content;
  row-gap: 15px;
}

.activity-tooltip-wrapper::before {
  bottom: 100%;
  left: 50%;
  border-color: transparent transparent rgb(210, 224, 235) transparent;
}

.activity-tooltip-wrapper::after {
  bottom: 100%;
  left: 50%;
  border-color: transparent transparent white transparent;
}

.request-status {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto;
}

.request-status span:first-child {
  justify-self: center;
  transform: scale(1.5, 1.5);
}

.accepted > span:first-child {
  color: rgb(115, 202, 84);
}

.not-accepted > span:first-child {
  color: rgb(235, 56, 48);
}

.request-type-serve {
  color: rgb(139, 211, 115);
}

.request-type-bill {
  color: rgb(239, 133, 136);
}

.request-type-menu {
  color: rgb(245, 211, 114);
}
