.time-modal {
  width: 370px;
  height: 220px;
  grid-template-columns: 100%;
  grid-template-rows: 60px auto 60px;
  background-color: white;
  border: 1px solid rgb(153, 169, 182);
  border-radius: 6px;
}

.time-modal-header {
  grid-template-columns: 30px max-content auto 20px;
  grid-template-rows: 100%;
  border-bottom: 1px solid rgb(238, 243, 247);
}

.time-modal-header span {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  color: rgb(0, 26, 81);
  align-self: center;
  font-size: 0.9rem;
}

.time-modal-header i {
  align-self: center;
  justify-self: flex-end;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  font-size: 1.5rem;
  color: rgb(173, 197, 220);
  cursor: pointer;
}

.time-modal-body {
  grid-template-columns: 15px auto 15px;
  grid-template-rows: 15px auto 5px;
}

.time-inputs-wrapper {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  border: 1px solid rgb(199, 211, 222);
  box-shadow: 3px 2px 2px rgb(237, 239, 241);
  border-radius: 5px;
  padding: 20px;
}

.time-inputs {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: max-content;
  align-content: space-around;
  column-gap: 30px;
}

.time-inputs div {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 100%;
  column-gap: 10px;
  align-items: center;
  font-size: 0.8rem;
  position: relative;
}

.time-inputs input {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  height: 35px;
  width: 100%;
  outline: none;
  border: 1px solid rgb(209, 221, 234);
  border-radius: 4px;
  padding: 0 30px 0 25px;
  font-size: 0.9rem;
  color: rgb(53, 165, 235);
}

.time-inputs i {
  position: absolute;
  right: 10px;
  font-size: 0.9rem;
  color: rgb(164, 185, 204);
}

.time-modal-footer {
  grid-template-columns: 15px auto 10px auto 15px;
  grid-template-rows: 10px auto 10px;
  font-size: 0.8rem;
}

.time-modal-footer div {
  grid-row: 2 / span 1;
  border-radius: 5px;
  border: 1px solid rgb(201, 217, 231);
  cursor: pointer;
}

.time-btn-remove {
  grid-column: 2 / span 1;
  background-color: white;
  color: rgb(59, 147, 231);
}

.time-btn-add {
  grid-column: 4 / span 1;
  background-color: rgb(59, 147, 231);
  color: white;
}
