.device-refresh {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: 100%;
  justify-items: flex-end;
  column-gap: 10px;
  color: rgb(57, 147, 231);
  align-items: center;
  font-size: 0.8rem;
}

.device-refresh * {
  cursor: pointer;
}

.device-refresh i {
  font-size: 1.5rem;
}

.device-table {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px auto;
  background-color: white;
  border: 1px solid rgb(227, 235, 242);
}

.device-header {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  border-bottom: 1px solid rgb(227, 235, 242);
}

.device-header span {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 0.7rem;
  color: rgb(167, 186, 204);
}

.device-header span:not(:first-child) {
  border-left: 1px solid rgb(227, 235, 242);
}

.device-body {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 40px;
}

.device-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  position: relative;
}

.device-row > span {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 0.8rem;
}

.device-row:not(:first-child) {
  border-top: 1px solid rgb(227, 235, 242);
}

.device-row > span:not(:first-child) {
  border-left: 1px solid rgb(227, 235, 242);
}

.device-row:hover {
  background-color: rgb(250, 251, 252);
}

.device-row > span:nth-child(2) {
  color: rgb(89, 161, 233);
}

.device-more {
  position: absolute;
  font-size: 1.4rem;
  color: rgb(172, 196, 220);
  align-self: center;
  right: 20px;
  visibility: hidden;
  cursor: pointer;
}

.device-row:hover .device-more {
  visibility: visible;
}

.device-tooltip-wrapper {
  right: -1.5%;
  top: 90%;
  grid-template-columns: 15px auto 20px;
  grid-template-rows: 10px auto 10px;
}

.device-tooltip {
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 20px);
  row-gap: 10px;
}

.device-tooltip-wrapper:before {
  bottom: 100%;
  left: 70%;
  border-color: transparent transparent rgb(210, 224, 235) transparent;
}

.device-tooltip-wrapper:after {
  bottom: 100%;
  left: 70%;
  border-color: transparent transparent white transparent;
}

.device-more-option {
  display: grid;
  grid-template-columns: 20px auto;
  grid-template-rows: 100%;
  column-gap: 5px;
  align-items: center;
  justify-items: flex-start;
  cursor: pointer;
}

.device-more-option i {
  font-size: 1.2rem;
  color: rgb(55, 146, 231);
}

.device-more-option > span {
  padding-right: 30px;
  font-size: 0.8rem;
}
