.chart-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(35px, auto);
  row-gap: 30px;
}

.chart-grid-inputs {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: 100%;
  column-gap: 20px;
}

.chart-grid input {
  border: 1px solid rgb(173, 198, 221);
  border-radius: 3px;
  outline: none;
  padding-left: 10px;
  width: 100%;
  height: 100%;
}

.chart-grid input::placeholder {
  color: rgb(167, 186, 205);
  font-size: 0.75rem;
}

.chart-grid i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(143, 168, 192);
  font-size: 1.1rem;
}

.chart-grid-from-to-date {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  position: relative;
}

.chart-grid-in-range-time {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  position: relative;
}

.chart-grid-statistics-list {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-auto-rows: 110px;
  column-gap: 20px;
}

.chart-grid-statistics {
  border-radius: 3px;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 10% auto 5% auto 15%;
  color: white;
}

.chart-grid-statistics-name {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  align-self: center;
  font-size: 0.9rem;
}

.chart-grid-statistics-value {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  font-size: 1.5rem;
}
