.job-header {
  grid-template-columns: 10% 15% 15% 17% 13% 18% 7% 5%;
  grid-template-rows: auto;
}

.job-row {
  grid-template-columns: 10% 15% 15% 17% 13% 18% 7% 5%;
  grid-auto-rows: 50px;
  position: relative;
}

.job-row input {
  transform: translateX(150%) scale(1.5, 1.5);
}

.job-row:hover .job-more {
  visibility: visible;
}

/* .job-more:hover ~ .list-tooltip-wrapper {
  display: grid;
} */

/* .job-more {
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: auto;
  height: 100%;
  align-content: center;
  justify-items: flex-end;
} */

.job-more {
  /* grid-column: 2 / span 1;
  grid-row: 1 / span 1; */
  font-size: 1.5rem;
  color: rgb(172, 197, 220);
  cursor: pointer;
  visibility: hidden;
  justify-content: flex-end;
  position: absolute;
  right: 15px;
}

.responsible-tables {
  display: grid;
  grid-auto-columns: 30px;
  grid-template-rows: 30px;
  column-gap: 5px;
}

.responsible-table {
  grid-row: 1 / span 1;
  border-radius: 7px;
  border: 1px solid rgb(180, 180, 181);
  color: black;
  font-weight: 700;
}

.job-legends {
  width: 40%;
  height: 30px;
  justify-self: flex-end;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;
  margin-bottom: 50px;
}

.job-legend {
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: 100%;
  column-gap: 5px;
  color: black;
}

.job-legend div {
  border: 1px solid rgb(180, 180, 181);
  border-radius: 7px;
}

.job-legend span {
  font-size: 0.8rem;
  align-self: center;
}

.job-tooltip-wrapper {
  right: -1.5%;
  top: 90%;
  grid-template-columns: 15px auto 20px;
  grid-template-rows: 10px auto 10px;
}

.job-tooltip {
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 20px);
  row-gap: 5px;
}

.job-tooltip-wrapper:before {
  bottom: 100%;
  left: 70%;
  border-color: transparent transparent rgb(210, 224, 235) transparent;
}

.job-tooltip-wrapper:after {
  bottom: 100%;
  left: 70%;
  border-color: transparent transparent white transparent;
}

.job-more-option {
  display: grid;
  grid-template-columns: 20px auto;
  grid-template-rows: 100%;
  column-gap: 5px;
  align-items: center;
  justify-items: flex-start;
  cursor: pointer;
}

.job-more-option i {
  font-size: 1.2rem;
  color: rgb(55, 146, 231);
}
