.add-table-modal-wrapper {
  width: 520px;
  height: 400px;
  grid-template-columns: 50px 400px 50px;
  grid-template-rows: 100%;
  column-gap: 10px;
}

.add-table-chevron {
  color: white;
  align-self: center;
  justify-self: center;
  font-size: 3rem;
  cursor: pointer;
}

.add-table-modal {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px auto 60px;
  background-color: white;
  border: 1px solid rgb(153, 169, 182);
  border-radius: 6px;
}

.add-table-modal-header {
  grid-template-columns: 30px max-content auto 20px;
  grid-template-rows: 100%;
  border-bottom: 1px solid rgb(238, 243, 247);
}

.add-table-modal-header span {
  align-self: center;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  color: rgb(0, 26, 81);
}

.add-table-modal-header i {
  align-self: center;
  justify-self: flex-end;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  font-size: 1.5rem;
  color: rgb(173, 197, 220);
  cursor: pointer;
}

.add-table-modal-body {
  grid-template-columns: 15px auto 15px;
  grid-template-rows: 15px auto 5px;
}

.add-table-list-table-wrapper {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  border: 1px solid rgb(199, 211, 222);
  box-shadow: 3px 2px 2px rgb(237, 239, 241);
  border-radius: 5px;
  padding: 5px;
}

.add-table-list-table {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(5, auto);
  column-gap: 2px;
  row-gap: 2px;
  font-size: 0.7rem;
}

.add-table-list-table div {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-table-table-unselected {
  background-color: rgb(251, 251, 251);
  color: rgb(177, 177, 177);
}

.add-table-table-selected {
  background-color: rgb(59, 147, 231);
  color: white;
}

.add-table-table-unselectable {
  background-color: rgb(155, 155, 155);
  color: white;
}

.add-table-modal-footer {
  grid-template-columns: 15px auto 10px auto 15px;
  grid-template-rows: 10px auto 10px;
  font-size: 0.8rem;
}

.add-table-modal-footer div {
  grid-row: 2 / span 1;
  border-radius: 5px;
  border: 1px solid rgb(201, 217, 231);
  cursor: pointer;
}

.add-table-btn-remove {
  grid-column: 2 / span 1;
  background-color: white;
  color: rgb(59, 147, 231);
}

.add-table-btn-add {
  grid-column: 4 / span 1;
  background-color: rgb(59, 147, 231);
  color: white;
}
