.general-img {
  object-fit: contain;
  width: 50%;
}

.general-table {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(8, 50px);
  border: 1px solid rgb(211, 224, 235);
}

.general-row {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
  font-size: 0.9rem;
  position: relative;
}

.general-row input {
  outline: none;
  padding: 0px 30px;
  font-size: 1rem;
  border: 1px solid rgb(46, 121, 190);
}

.general-row:hover {
  background-color: rgb(250, 251, 252);
}

.general-row:not(:last-child) {
  border-bottom: 1px solid rgb(211, 224, 235);
}

.general-row:hover .general-more {
  visibility: visible;
}

.general-row > span:first-child {
  padding-left: 30px;
  padding-right: 30px;
  align-self: center;
  color: rgb(184, 200, 215);
}

.general-row > span:nth-child(2) {
  padding-left: 30px;
  border-left: 1px solid rgb(211, 224, 235);
  display: flex;
  align-items: center;
}

.general-more {
  font-size: 1.7rem;
  color: rgb(172, 197, 220);
  cursor: pointer;
  visibility: hidden;
  justify-content: flex-end;
  align-self: center;
  position: absolute;
  right: 15px;
}

.general-tooltip-wrapper {
  right: -3.5%;
  top: 90%;
  grid-template-columns: 15px auto 20px;
  grid-template-rows: 10px auto 10px;
}

.general-tooltip {
  grid-template-columns: 100%;
  grid-auto-rows: 20px;
  row-gap: 10px;
}

.general-tooltip-wrapper:before {
  bottom: 100%;
  left: 70%;
  border-color: transparent transparent rgb(210, 224, 235) transparent;
}

.general-tooltip-wrapper:after {
  bottom: 100%;
  left: 70%;
  border-color: transparent transparent white transparent;
}

.general-more-option {
  display: grid;
  grid-template-columns: 20px auto;
  grid-template-rows: 100%;
  column-gap: 5px;
  align-items: center;
  justify-items: flex-start;
  cursor: pointer;
  font-size: 0.8rem;
}

.general-more-option:hover {
  color: rgb(69, 168, 236);
}

.general-more-option > span:first-child {
  font-size: 1.1rem;
}

.general-more-option i {
  font-size: 1.2rem;
  color: rgb(55, 146, 231);
}
