.add-job-modal {
  width: 400px;
  height: 500px;
  grid-template-columns: 100%;
  grid-template-rows: 60px auto 70px;
  background-color: white;
  border: 1px solid rgb(153, 169, 182);
  border-radius: 6px;
}

.add-job-modal-header {
  grid-template-columns: 30px max-content auto 20px;
  grid-template-rows: 100%;
  border-bottom: 1px solid rgb(238, 243, 247);
}

.add-job-modal-header span {
  align-self: center;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  color: rgb(0, 26, 81);
}

.add-job-modal-header i {
  align-self: center;
  justify-self: flex-end;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  font-size: 1.5rem;
  color: rgb(173, 197, 220);
  cursor: pointer;
}

.add-job-modal-body {
  grid-template-columns: 30px auto 30px;
  grid-template-rows: 15px auto 15px;
}

.add-job-list-input {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto);
  row-gap: 20px;
}

.add-job-input-item {
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto;
}

.add-job-input-item span {
  color: rgb(189, 203, 216);
  font-size: 0.8rem;
}

.add-job-input-item input {
  color: rgb(103, 118, 139);
  font-size: 0.9rem;
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgb(226, 234, 240);
}

.add-job-modal-footer {
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 5px auto 20px;
}

.add-job-btn-add {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background-color: rgb(59, 147, 231);
  color: white;
  border-radius: 5px;
  border: 1px solid rgb(201, 217, 231);
  cursor: pointer;
  font-size: 0.8rem;
}
