/* start dashboard */
.header {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-color: #0079c4;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
}

.title {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  color: white;
  font-size: 1.3rem;
  border-right: 1px solid rgb(56, 130, 194);
}

.notification {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.bell {
  font-size: 1.5rem;
  color: white;
  margin-right: 30px;
}

.num-of-noti {
  position: absolute;
  background-color: red;
  height: 100%;
  width: 60px;
  border-radius: 50%;
  transform: scale(0.15, 0.15) translate(50%, -100%);
}

.body {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
  overflow-y: auto;
}

.side-menu {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-color: white;
  border-right: 1px solid rgb(216, 227, 237);

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 210px;
}

.menu-wrapper {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;

  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: 3% auto 3%;
}

.menu {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 40px;
  row-gap: 1%;
}

.menu-item {
  grid-column: 1 / span 1;
  background-color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  color: rgba(98, 115, 138);
  display: flex;
  align-items: center;
  padding-left: 20px;
  user-select: none;
  cursor: pointer;
}

.menu-item:hover {
  background-color: rgb(237, 245, 252);
  color: rgb(56, 146, 231);
}

.menu-item-active {
  background-color: rgb(237, 245, 252);
  color: rgb(56, 146, 231);
}

.user-profile {
  border-top: 1px solid rgb(223, 232, 239);
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;

  display: grid;
  grid-template-columns: 7% auto 7%;
  grid-template-rows: 5% 48px repeat(2, auto) 5%;
  row-gap: 10px;
}

.avatar {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.avatar img {
  object-fit: contain;
  object-position: left;
  width: 100%;
  height: 100%;
}

.description {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr 0.75fr;
}

.description span:nth-child(2) {
  font-size: 0.7rem;
  color: rgb(157, 179, 200);
}

.logout-btn {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  border-radius: 5px;
  background-color: rgb(115, 202, 84);
  border: none;
  color: white;
  font-size: 0.9rem;
}

.content-wrapper {
  background-color: rgb(237, 245, 252);
  padding: 50px 30px 50px 30px;
  overflow-y: auto;
}

.content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content;
  row-gap: 50px;
}

.component {
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px auto;
}

.component-header {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  font-weight: 500;
}

.component-body {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.table {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px auto;
  background-color: white;
  border: 1px solid rgb(211, 226, 237);
  border-radius: 3px;
}

.padding-table {
  grid-column: 1 / span 1;
  position: relative;
}

.highlight {
  position: absolute;
  left: 0;
  height: 100%;
  width: 10%;
  background-color: transparent;
}

.table-header-wrapper .padding-table {
  border-bottom: 1px solid rgb(221, 231, 238);
}

.table-header-wrapper {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: 20px auto;
  grid-template-rows: auto;
}

.table-header {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  /* template tracks to be defined by each tab component */
  align-content: center;
  text-transform: uppercase;
  color: rgb(159, 181, 202);
  font-size: 0.75rem;
  border-bottom: 1px solid rgb(221, 231, 238);
}

.table-body {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.table-row-wrapper {
  display: grid;
  grid-template-columns: 20px auto;
  grid-template-rows: auto;
}

.table-row {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  /* template tracks to be defined by each tab component */
  align-items: center;
  color: rgb(74, 92, 116);
  font-size: 0.75rem;
}

.table-body .table-row-wrapper:not(:first-of-type) {
  border-top: 1px solid rgb(237, 243, 247);
}

.table-row-wrapper:hover {
  background-color: rgb(250, 251, 252);
}

.table-row-wrapper:hover > .padding-table > .highlight {
  background-color: rgb(94, 147, 220);
}

.list-tooltip-wrapper {
  position: absolute;
  /* right: 6.5%;
  top: 90%; */
  display: none;
  /* grid-template-columns: 25px auto 25px;
  grid-template-rows: 10px auto 10px; */
  border: 1px solid rgb(204, 221, 234);
  border-radius: 5px;
  background-color: white;
  z-index: 2;
}

.list-tooltip {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  /* grid-template-columns: 100%;
  grid-auto-rows: min-content;
  row-gap: 15px; */
}

.list-tooltip-wrapper::before {
  content: " ";
  position: absolute;
  /* bottom: 100%;
  left: 50%; */
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  /* border-color: transparent transparent rgb(210, 224, 235) transparent; */
  z-index: 3;
}

.list-tooltip-wrapper::after {
  content: " ";
  position: absolute;
  /* bottom: 100%;
  left: 50%; */
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  /* border-color: transparent transparent white transparent; */
  z-index: 4;
}

.screen-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(84, 94, 106, 0.8);
  z-index: 5;
  display: none;
  grid-template-columns: min-content;
  grid-template-rows: min-content;
  align-content: center;
  justify-content: center;
}

.modal {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
}

.modal-header {
  display: grid;
}

.modal-body {
  display: grid;
}

.modal-footer {
  display: grid;
}
