* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "Ekmukta";
  src: url("./asset/fonts/ekmukta-medium.ttf");
}

.center-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  position: relative;
}

/* start login */
.login-form {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr 2fr;
  row-gap: 2%;
}

.login-title {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  font-family: "Ekmukta";
  font-size: 4vh;
  color: white;
}

.form {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 13% auto 13%;
  grid-template-rows: 5% 10% auto 10% 5%;
  row-gap: 5%;
}

.form-message {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.form-inputs {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.75fr 0.75fr 0.8fr;
  row-gap: 6%;
}

.form-inputs input {
  border-radius: 5px;
  outline: none;
  border-style: solid;
  border: 1px solid #a8c7e0;
  font-size: 1.8vh;
  padding-left: 20px;
}

.form-inputs input::placeholder {
  color: lightgray;
}

.form-inputs button {
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #4fce3d;
  font-size: 2vh;
}

.form-forget-password {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  transform: translateY(25%);
}

.form-forget-password a {
  text-decoration: none;
  color: #45b1f3;
  font-size: 1.5vh;
  cursor: pointer;
}

/* end login */
